
.fv-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  outline: 0;
  border: 0;
  background-color: transparent;
  background-image: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  padding: 16px;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.258824);
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffc107;
}

fv-fab .fv-icon,.fv-fab .fv-icon {
  position: relative;
  vertical-align: middle;
  background-repeat: no-repeat no-repeat;
  pointer-events: none
}
fv-fab .fv-icon.fill-color-default, .fv-fab .fv-icon.fill-color-default fv-fab fv-icon.fill-color-default, .fv-fab fv-icon.fill-color-default {
  fill: #fff;
}

.fv-button:hover{
  z-index: 2;
  box-shadow: 0 8px 17px rgba(0,0,0,.2)
}

.water {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.ripple {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
